<h1 class="text-center m-3 text-success"> Employees Data </h1>

    <div class="container">

        <%= link_to " Add Employee ", new_employee_path, class:"btn btn-primary m-1" %>

        <table class="table table-bordered border-primary">
            <thead>
                <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">No Of Order</th>
                <th scope="col">Full Time Available</th>
                <th scope="col">Salary</th>
                  <th scope="col">Show</th>
                    <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                </tr>
            </thead>

            <tbody>
            <% @employees.each do |employee| %>
                <tr class="text-center">
                    <td><%= employee.id %></td>
                    <td><%= employee.first_name %></td>
                    <td><%= employee.last_name %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.no_of_order %></td>
                    <td><%= employee.full_time_available %></td>
                    <td><%= employee.salary %></td>
                    <td><%= link_to "Show", employee_path(employee.id), class:"btn btn-success" %></td>
                    <td><%= link_to "Edit","sjhjk", class:"btn btn-warning" %></td>
                    <td><%= link_to "Delete",employee_path(employee.id), data:{turbo_method: :delete, turbo_confirm: "Are Your Sure Want To Delete"}, class:"btn btn-danger" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>