    <div class="container">
            <h1 class="text-center m-3"> 14(A) Example of unscope </h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    </tr>
                </thead>

                <tbody>
                 <% @unscope_conditions.each do |unscope_condition| %>
                    <tr>
                    <th scope="row"><%= unscope_condition.id %></th>
                    <td><%= unscope_condition.first_name %></td>
                    <td><%= unscope_condition.last_name %></td>
                    <td><%= unscope_condition.age %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

            <h1 class="text-center text-danger mt-5"> 14(B) Example of only overrides condtions </h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    </tr>
                </thead>

                <tbody>
                 <%  @override_onlys.each do |override_only| %>
                    <tr>
                    <th scope="row"><%= override_only.id %></th>
                    <td><%= override_only.first_name %></td>
                    <td><%= override_only.last_name %></td>
                    <td><%= override_only.age %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

             <h1 class="text-center text-muted mt-5"> 14(C) Example of reselect overrides condtions </h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Number Of Order</th>
                    </tr>
                </thead>

                <tbody>
                 <%  @override_reselects.each do |override_reselect| %>
                    <tr>
                    <th scope="row"><%= override_reselect.first_name %></th>
                    <th><%= override_reselect.last_name %></th>
                    <th><%= override_reselect.age %></th>
                    <th><%= override_reselect.no_of_order %></th>
                    </tr>
                    <% end %>
                </tbody>
            </table>

            <h1 class="text-center text-success mt-5"> 14(D) Example of reorder overrides condtions </h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Number Of Order</th>
                    </tr>
                </thead>

                <tbody>
                 <%  @reorders.each do |reorder| %>
                    <tr>
                    <td scope="row"><%= reorder.first_name %></td>
                    <td><%= reorder.last_name %></td>
                    <td><%= reorder.age %></td>
                    <th><%= reorder.no_of_order %></th>
                    </tr>
                    <% end %>
                </tbody>
            </table>

             <h1 class="text-center text-success mt-5"> 14(E) Example of reverse_order in the basis of First Name overrides condtions </h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Number Of Order</th>
                    </tr>
                </thead>

                <tbody>
                 <%  @reverse_orders.each do |reverse_order| %>
                    <tr>
                    <th scope="row"><%= reverse_order.first_name %></th>
                    <td><%= reverse_order.last_name %></td>
                    <td><%= reverse_order.age %></td>
                    <td><%= reverse_order.no_of_order %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

    </div>